@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container" style="padding-top: 20px;">
    <h1>Hello I am Simi</h1>
    <p>actually it's SIMILOLUWA, but let's leave it at that</p>
    <p>I built this from scratch using <a href="https://dotnet.github.io/">dotnet core</a> and </p>
    <p><a href="https://github.com/iamsimi">I code</a>,<a href="http://soloclan.com"> I write</a>, and <a href="/contact.html">I build robots</a></p>

    <p><a href="./Contatct">REACH out if I can be of help or you can be </a></p>

    <p>here are the guidelines to interacting with this project using the pages available:</p>
    <ol>
        <li><strong>Index:</strong> is the first page that is seen and contains the list of all the articles that has been written</li><br />
        <li><strong>Details :</strong>is the page where the reader can read the entire article and can be accessed only when the read more link from index page is clicked</li><br />
        <li><strong>Create :</strong> the project was built so anyone can create articles so just add <strong>/create</strong> to the url to navigate to create which would prompt you to login</li><br />
        <li><strong>Admin: </strong> login to access this page</li><br />
        <li><strong>Edit: </strong> Once you are logged in to access the admin you can click on the edit link to edit the article or delete link to delete it</li><br />
    </ol>

    <p>Thank you..</p>
</div>

